body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #ebebeb;
}

.app {
    background-color: #ebebeb;
}

.login-window, .chat-window {
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: #ebebeb;
    /* background: red; */
    display: flex;
}

.login-window .login-form {
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
    /* background: #ebebeb; */
    display: flex;
}

.login-form .login-submit {
    width: 100%;
    border: 1px solid #38f;
    background: #38f;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.chat-window .chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 600px;
    background: #fff;
    flex-direction: column;
    border-radius: 5px;
}

.chat-window .chat-container .main {
    flex: 9;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
}

.chat-window .chat-container .main .contacts {
    flex: 3;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.chat-window .chat-container .main .contacts .contacts-header {
    height: 40px;
    width: 100%;
    background: #337ab7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
}

.chat-window .chat-container .main .contacts .contacts-content {
    flex: 1;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #337ab7;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item {
    height: 48px;
    background: #fff;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding: 0 5px;
}

.chat-window .chat-container .main .contacts .contacts-content .selected {
    background: #ccc;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .contact-image {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .contact-image .icon {
    width: 42px;
    height: 42px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    border-radius: 45px;
    padding: 1px;
    box-sizing: border-box;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .contact-content {
    height: 48px;
    flex: 1;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .target {
    height: 28px;
    flex: 1;
    font-size: 16px;
    padding: 0 5px;
    color: #333;
    align-items: center;
    display: flex;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .recent {
    font-size: 10px;
    padding: 0 5px;
    color: #808080;
    display: flex;
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item .recent-msg {
    font-size: 10px;
    padding: 0 5px;
    color: #808080;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    height: 20px;
    line-height: 20px;
    max-width: 120px
}

.chat-window .chat-container .main .contacts .contacts-content .contact-item:hover {
    background: #ebebeb;
}

.chat-window .chat-container .main .dialog {
    flex: 9;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.chat-window .chat-container .main .dialog .dialog-null {
    flex: 1;
    border: 1px solid #337ab7;
    border-radius: 5px;
}

.chat-window .chat-container .main .dialog .dialog-header {
    height: 40px;
    width: 100%;
    background: #337ab7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
}

.chat-window .chat-container .main .dialog .dialog-content {
    flex: 1;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #337ab7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.chat-window .chat-container .main .dialog .dialog-messages {
    height: 330px;
    width: 100%;
    background: #fff;
    border: 1px solid #337ab7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content {
    max-width: 60%;
    padding: 0 5px 5px 5px;
    display: flex;
    flex-direction: row;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content .message-icon {
    flex: 1;
    height: 100%;
    border-radius: 50px;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content .message-target {
    width: 48px;
    height: 48px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    border-radius: 50px;
    padding: 1px;
    box-sizing: border-box;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content .message-obj {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1px 5px;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content .message-header {
    height: 20px;
    display: flex;
    font-size: 14px;
    padding: 0 2px;
    color: #808080;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-content .message-info {
    flex: 1;
    word-break: break-all;
    border-radius: 5px;
    padding: 5px 10px;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-item {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-item .message-time {
    flex: 1;
    /* height: 24px; */
    padding: 2px 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: #808080;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-item .message-block {
    display: flex;
    flex-direction: row;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-send {
    display: flex;
    justify-content: flex-end;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-receive {
    display: flex;
    justify-content: flex-start;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-send .message-header {
    justify-content: flex-end;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-send .message-info {
    border: 1px solid #38f;
    background: #38f;
    color: #fff;
}

.chat-window .chat-container .main .dialog .dialog-messages .message-receive .message-info {
    border: 1px solid #ebebeb;
    background: #ebebeb;
}

.chat-window .chat-container .main .dialog .dialog-control {
    height: 32px;
    width: 100%;
    background: #808080;
}

.chat-window .chat-container .main .dialog .dialog-input {
    height: 140px;
    width: 100%;
    background: red;
    border: 1px solid #337ab7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chat-window .chat-container .main .dialog .dialog-input .input-area {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

.chat-window .chat-container .main .dialog .dialog-input .input {
    height: 36px;
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    background: #f2f2f2;
    display: flex;
    flex-direction: row-reverse;
}

.chat-window .chat-container .main .dialog .dialog-input .input .submit-send {
    cursor: pointer;
    background: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 2px;
    color: #fff;
}

.chat-window .chat-container .header {
    flex: 1;
    background: #337ab7;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    color: #fff;
    font-size: 24px;
}