* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background: #f2f2f2;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #808080;
    font-size: 12px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
    font-size: 12px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
    font-size: 12px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #808080;
    font-size: 12px;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 36px;
    font-weight: bold;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*登录窗口*/

.login-window {
    width: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    .login-form {
        flex: 1;
        padding: 50px;
        background-color: #ccc;
        border-radius: 15px;
        .header {
            font-size: 30px;
            font-weight: bold;
            padding: 0 20px 20px 20px;
        }
        .input {
            padding: 0 20px;
            input {
                width: 100%;
                box-sizing: border-box;
                height: 32px;
                line-height: 32px;
                font-size: 18px;
                margin: 2px 0;
                padding: 0 5px;
            }
        }
        .btn {
            padding: 0 20px;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            align-items: center;
            input {
                box-sizing: border-box;
                width: 100%;
                margin-top: 10px;
                border: 1px solid #38f;
                background: #38f;
                color: #fff;
                border-radius: 5px;
                padding: 5px 15px;
                cursor: pointer;
            }
            input:hover {
                background: #39f;
            }
        }
        .other {
            padding: 10px 20px;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: flex-end;
            .register,
            .forget {
                font-size: 12px;
                color: #38c;
                cursor: pointer;
                padding: 2px 5px;
                box-sizing: border-box;
            }
            .register:hover,
            .forget:hover {
                color: #39f;
            }
        }
    }
    .register-form {
        flex: 1;
        background-color: #ccc;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        .header {
            height: 60px;
            display: flex;
            width: 100%;
            font-size: 32px;
            .title {
                flex: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                padding: 15px;
            }
            .close {
                width: 40px;
                height: 40px;
                cursor: pointer;
                font-size: 18px;
                align-items: center;
                justify-content: center;
                display: flex;
                font-weight: bold;
            }
            .close:hover {
                font-size: 20px;
                color: red;
            }
        }
        .block {
            padding: 20px 50px 50px 50px;
            .input {
                padding: 0 20px;
                input {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            .btn {
                padding: 0 20px;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                align-items: center;
                input {
                    box-sizing: border-box;
                    width: 100%;
                    margin-top: 10px;
                    border: 1px solid #38f;
                    background: #38f;
                    color: #fff;
                    border-radius: 5px;
                    padding: 5px 15px;
                    cursor: pointer;
                }
                input:hover {
                    background: #39f;
                }
            }
        }
    }
    .forget-form {
        flex: 1;
        background-color: #ccc;
        border-radius: 15px;
    }
}

/*会话窗口*/

.chat-window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .chat-header {
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 30px;
        padding: 0 15px;
        font-weight: bold;
        background: #38c;
        color: #fff;
        box-sizing: border-box;
        .logo {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
        }
        .nav {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .login-user {
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                .icon {
                    width: 36px;
                    height: 36px;
                    border: 1px solid #fff;
                    border-radius: 36px;
                }
                .name {
                    padding: 5px;
                    box-sizing: border-box;
                    font-size: 16px;
                }
            }
        }
    }
    .chat-main {
        background: green;
        flex: 1;
        display: flex;
        .contacts {
            width: 220px;
            background: red;
            display: flex;
            flex-direction: column;
            .header {
                height: 40px;
                background: #ebebeb;
                width: 100%;
                border-bottom: 1px solid #ccc;
                display: flex;
                align-items: center;
                padding: 0 5px;
                font-weight: bold;
                color: #333;
                box-sizing: border-box;
            }
            .list {
                flex: 1;
                width: 100%;
                background: #fff;
                overflow-x: hidden;
                overflow-y: auto;
                .none {
                    height: 24px;
                    padding: 5px;
                    font-size: 14px;
                }
                .PRIVATE {
                    border-right: 5px solid #38c;
                }
                .GROUP {
                    border-right: 5px solid rgb(247, 118, 12);
                }
                .item {
                    height: 60px;
                    cursor: pointer;
                    display: flex;
                    border-bottom: 1px solid #ebebeb;
                    box-sizing: border-box;
                    .image {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        box-sizing: border-box;
                        .circle {
                            height: 40px;
                            width: 40px;
                            border-radius: 40px;
                            box-sizing: border-box;
                            .icon {
                                width: 100%;
                                height: 100%;
                                border-radius: 50px;
                            }
                        }
                        .circle:hover {
                            border: 1px solid #39f;
                            height: 48px;
                            width: 48px;
                            border-radius: 48px;
                            padding: 1px;
                            background: #fff;
                        }
                    }
                    .info {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .name {
                            height: 30px;
                            width: 100%;
                            display: flex;
                            align-items: flex-end;
                        }
                        .recent {
                            height: 30px;
                            width: 100%;
                            font-size: 12px;
                            color: #808080;
                            line-height: 24px;
                            word-break: break-all;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap !important;
                            max-width: 120px;
                        }
                    }
                }
                .item:hover {
                    background: #f2f2f2;
                }
            }
        }
        .dialog {
            background: #f2f2f2;
            flex: 9;
            display: flex;
            align-items: center;
            justify-content: center;
            .none {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #808080;
                font-size: 36px;
                font-weight: bold;
            }
            .win {
                background: #808080;
                position: absolute;
                top: 80px;
                left: 220px;
                right: 0;
                bottom: 0;
                .header {
                    width: 100%;
                    height: 40px;
                    border-bottom: 1px solid #38f;
                    box-sizing: border-box;
                    background: #39f;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    padding: 0 5px;
                    font-weight: bold;
                    cursor: pointer;
                    .icon {
                        width: 28px;
                        height: 28px;
                        border: 1px solid #fff;
                        border-radius: 28px;
                    }
                    .name {
                        padding: 0 5px;
                        flex: 1;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .typing {
                            color: #ebebeb;
                            font-size: 8px;
                            padding: 0 10px;
                            margin-top: 5px;
                        }
                    }
                }
                .messages {
                    position: absolute;
                    top: 40px;
                    bottom: 156px;
                    left: 0;
                    right: 0;
                    background: #ebebeb;
                    padding: 5px;
                    box-sizing: border-box;
                    .scroll {
                        overflow-x: hidden;
                        overflow-y: auto;
                        height: 100%;
                        width: 100%;
                        background: #fff;
                    }
                    .list {
                        background: #fff;
                        overflow-x: hidden;
                        overflow-y: auto;
                        .none {
                            margin-top: 15px;
                            font-size: 12px;
                        }
                        .msg {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
                            box-sizing: border-box;
                            .time {
                                height: 16px;
                                font-size: 12px;
                                color: #808080;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .line {
                                display: flex;
                                .block {
                                    max-width: 60%;
                                    display: flex;
                                    .image {
                                        width: 48px;
                                        height: 48px;
                                        border-radius: 48px;
                                        cursor: pointer;
                                        box-sizing: border-box;
                                        .icon {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50px;
                                        }
                                    }
                                    .image:hover {
                                        border: 1px solid #39f;
                                        padding: 1px;
                                    }
                                    .msg-content {
                                        flex: 1;
                                        height: 100%;
                                        flex-direction: column;
                                        padding: 0 5px;
                                        box-sizing: border-box;
                                        .name {
                                            display: flex;
                                            height: 20px;
                                            color: #808080;
                                            font-size: 14px;
                                            cursor: pointer;
                                        }
                                        .info {
                                            border-radius: 5px;
                                            padding: 5px 8px;
                                            box-sizing: border-box;
                                            font-size: 14px;
                                            line-height: 20px;
                                            word-break: break-all;
                                        }
                                    }
                                }
                            }
                            .receive {
                                flex-direction: row;
                                .block {
                                    flex-direction: row;
                                    .name {
                                        justify-content: flex-start;
                                    }
                                    .info {
                                        border: 1px solid #ebebeb;
                                        background: #ebebeb;
                                    }
                                }
                            }
                            .send {
                                flex-direction: row-reverse;
                                .block {
                                    flex-direction: row-reverse;
                                    .name {
                                        justify-content: flex-end;
                                    }
                                    .info {
                                        border: 1px solid #38f;
                                        background: #38f;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
                .control {
                    height: 36px;
                    width: 100%;
                    position: absolute;
                    bottom: 120px;
                    background: #ccc;
                }
                .input {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 120px;
                    background: #ebebeb;
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    box-sizing: border-box;
                    textarea {
                        border: #ccc;
                        flex: 1;
                        width: 100%;
                        line-height: 16px;
                        font-size: 14px;
                        padding: 2px;
                        box-sizing: border-box;
                    }
                    .btn {
                        height: 40px;
                        padding: 5px 15px;
                        box-sizing: border-box;
                        display: flex;
                        justify-content: flex-end;
                        input {
                            background: #39f;
                            padding: 5px 10px;
                            color: #fff;
                            border: 1px solid #38f;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                        input:hover {
                            background: #38f;
                        }
                    }
                }
            }
        }
    }
    .setting-window {
        border: 1px solid #ebebeb;
        background: #f2f2f2;
        border-radius: 5px;
        display: flex;
        width: 400px;
        font-weight: initial;
        flex-direction: column;
        .header {
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            color: #333;
            font-size: 24px;
            font-weight: bold;
        }
        .body {
            flex: 1;
            width: 100%;
            display: flex;
            padding: 5px 20px;
            box-sizing: border-box;
            width: 100%;
            flex-direction: column;
            .update {
                padding: 5px 0;
                flex-direction: row;
                display: flex;
                .label {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-size: 18px;
                    padding: 5px 0;
                    color: #333;
                    box-sizing: border-box;
                    font-weight: bold;
                }
                .password,
                .icon,
                .alias {
                    height: 100%;
                    flex: 1;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    box-sizing: border-box;
                    input {
                        height: 100%;
                        flex: 1;
                        color: #fff;
                        border: 1px solid #38c;
                        background: #38c;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 18px;
                        box-sizing: border-box;
                        cursor: pointer;
                    }
                }
            }
            .logout {
                margin: 2px 0;
                flex: 1;
                height: 100%;
                padding: 5px 0;
                color: #fff;
                border: 1px solid #38c;
                background: #38c;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                box-sizing: border-box;
                cursor: pointer;
            }
            .password input:hover,
            .icon input:hover,
            .alias input:hover,
            .logout:hover {
                background: #38f
            }
        }
        .footer {
            height: 60px;
            padding: 5px 20px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            .cancel {
                flex: 1;
                height: 40px;
                width: 100%;
                color: #fff;
                border: 1px solid #FC7800;
                background: #FC7600;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                box-sizing: border-box;
                cursor: pointer;
            }
            .cancel:hover {
                background: #CC7600;
            }
        }
    }
}